.formcontato {
    background: #eaf2fd;
    padding: 40px;
}

/* IMAGEN */
.formcontato__izquierda {
    display: none;
}

.formcontato__title {
    font-size: 22px;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.formcontato__question {
    padding: 0 0 5px 0;
}

.formcontato__form {
    padding: 20px 0 0 0;
}

.form__group {
    margin-bottom: 20px;
    padding: 5px 10px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
}


.error-message {
    font-size: 10px;
    padding: 5px 0;
    color: red;
}

.formcontato__input, .formcontato__textarea {
    width: 100%;
    border: none;
    padding: 10px 0;
    border-bottom: 2px solid white;
    /* Quitamos el contorno al hacer clic */
    outline: none;
    transition: 0.3s ease;
}

.contacto__label {
    display: none;
    pointer-events: none;
    font-size: 12px;
    color: #A2A2A2;
}

.formcontato__input:focus,
.formcontato__textarea:focus {
    /* Color del borde inferior al enfocar */
    border-bottom-color: #2A7AE4;
}

.formcontato__input:focus + .contacto__label,
.formcontato__textarea:focus + .contacto__label,
.formcontato__input:not(:placeholder-shown) + .contacto__label,
.formcontato__textarea:not(:placeholder-shown) + .contacto__label {
    display: block;
    font-size: 14px;
    color: #2A7AE4;
}

.formcontato__button {
    background: #2A7AE4;
    font-size: 14px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

/* DESKTOP */
@media (min-width: 1024px) {
    .formcontato__contacto {
        display: flex;
        justify-content: center;
        padding: 50px 0;
        
    }
    /* IMAGEN */
    .formcontato__izquierda {
        display: block;
        padding: 0 20px 0 0;
    }

    .formcontato__text{
        display: flex;
        flex-direction: column;  
    }

    .formcontato__title {
        font-size: 32px;
    }

    
}